img{
  width: 85%;
  border-radius: 15px;
  margin: 2% 5%;
}

/* .image-container{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,152,196,1) 4%, rgba(0,212,255,1) 29%);
  width: 65%;
  padding: 1%;
  border: 5px solid #202020;
  border-radius: 5px;
  margin: 2% auto;
} */

/* .title{
  font-size: 3rem;
  margin: 1%;
  text-align: center;
} */

/* .explanation{
  font-size: 1.2rem;
  margin: 1% 8%;
  text-align: justify;
} */

/* .copyright{
  font-size: 1.4rem;
  margin: 5% 0;
  text-align: center;
} */
