.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 50%;
  border-radius: 10px;
  border-style: dotted;
  margin: 20px;
}

img {
  width: 100%;
  border-radius: 8px;
}
