.app {
  border: 3px solid rgb(162, 162, 162);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > * {
  margin-top: 1%;
}

.app form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
}

.app form > * {
  margin: 5%;
}

.user-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  margin: 1%;
  width: 40%;
  text-align: center;
}