@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
}

img {
  width: 300px;
  align-items: center;
}

.card-info {
  padding: 5px 30px;
}