* {
  list-style-type: none;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

label {
  color: #777;
}

input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 96%;
  font-size: 14px;
}

input:focus {
  outline: 0;
  border-color: #777;
}

button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}